﻿
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <form method="post">

        <div class="form-group">

            <div class="form-group ">
                <label for="birimadi">Birim Adı: </label>
                <input type="text" class="form-control" id="birimadi" name="Ad" placeholder="Birim Adı">
            </div>


            <div class="form-group ">
                <label for="acıklama">Açıklama: </label>
                <textarea class="form-control" id="aciklama" name="Aciklama" placeholder="Açıklama"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Kaydet</button>

    </form>

</div>

