﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <html>
    

    <head>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/all.css" rel="stylesheet">
        <link href="css/vendor.bundle.addons.css" rel="stylesheet">
        <link href="css/vendor.bundle.base.css" rel="stylesheet">
        <link href="css/materialdesignicons.css" rel="stylesheet">
    </head>

    <body>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Stajyer Bilgileri</h4>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Fotoğraf
                                    </th>
                                    <th>
                                        Adı Soyadı
                                    </th>
                                    <th>
                                        Projeler
                                    </th>
                                    <th>
                                        Günlükler
                                    </th>
                                    <th>
                                        Devamsızlık
                                    </th>
                                    <th>
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-1">
                                        <img src="../../images/faces-clipart/pic-1.png" alt="image" />
                                    </td>
                                    <td>
                                        Herman Beck
                                    </td>
                                    <td>
                                        <div class="form-group">

                                            <select class="form-control" id="projetakimi">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Görüntüle</button>
                                            <button type="button" class="btn btn-primary">Düzenle</button>
                                            </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Kaydet</button>
                                            <button type="button" class="btn btn-danger">Sil</button>
                                            </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="../../images/faces-clipart/pic-2.png" alt="image" />
                                    </td>
                                    <td>
                                        Messsy Adam
                                    </td>
                                    <td>
                                        <div class="form-group">

                                            <select class="form-control" id="projetakimi">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Görüntüle</button>
                                            <button type="button" class="btn btn-primary">Düzenle</button>
                                            </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Kaydet</button>
                                            <button type="button" class="btn btn-danger">Sil</button>
                                            </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="../../images/faces-clipart/pic-3.png" alt="image" />
                                    </td>
                                    <td>
                                        John Richards
                                    </td>
                                    <td>
                                        <div class="form-group">

                                            <select class="form-control" id="projetakimi">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Görüntüle</button>
                                            <button type="button" class="btn btn-primary">Düzenle</button>
                                            </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Kaydet</button>
                                            <button type="button" class="btn btn-danger">Sil</button>
                                            </div>
                                    </td>

                                </tr>
                                <tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

   </html>