﻿<style>

    .boyut{
    }
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-right sticky-top">

    <a class="navbar-brand" href="#">Staj Takip Otomasyonu</a>
    <button type="button" data-target="#navbar" class="navbar-toggler" data-toggle="collapse"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbar" data-toggle="collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Anasayfa</a>
            </li>
            
        </ul>
    </div>

</nav>