﻿

<style>
    .sidebar1{
        width:255px;
        border-right:1px dotted #808080;
        
        height:calc(100vh);
        padding:0;
    }
</style>

<nav class="sidebar bg-dark-custom navbar-dark text-white">
    <ul class="nav">
         <li class="nav-item nav-profile mx-auto">
             <img class="mt-3" src="~/images/akdeniz-logo.png" width="200em;" />
         </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-content-copy"></i>
                <span class="menu-title">Basic UI Elements</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
    </ul>
</nav>