﻿.bg-dark-custom {
    background-color: #303442 !important;
}

 .bg-dark-custom .nav-link {
        color: #fff !important;
        display: block;
        padding: 0.5rem 1rem;
    }

 .bg-dark-custom .nav-link:hover {
            background-color: #808080 !important;
        }
