﻿@model List<Proje>
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Proje Bilgileri</h4>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>
                            Proje Adı
                        </th>
                        <th>
                            Proje Detayları
                        </th>
                        <th>
                            Proje Durumu
                        </th>
                        <th>
                            Link
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var i in Model)
                        {
                            <tr>

                                                    <td>
                                                        @i.Ad
                                                    </td>
                                <td>
                                    <a href="~/Proje/Detay/@i.ID" class="btn btn-sm btn-success">Görüntüle</a>
                                </td>
                                <td>
                                    <a href="~/Proje/Durum/@i.ID" class="btn btn-sm btn-success">Görüntüle</a>
                                </td>
                                <td>

                                    <a class="nav-link" href="@i.Link">Link</a>

                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Düzenle</button>

                                        <button type="button" class="btn btn-danger">Sil</button>
                                    </div>
                                </td>
                            </tr>
                            


                           }
                        }


                        </tbody>
            </table>
        </div>
    </div>
</div>
        </div>


