﻿@model  List<Profil>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Bilgileri</h4>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>
                                    Kişi Adı
                                </th>
                                <th>
                                    Soyadı
                                </th>
                                <th>
                                    Kullanıcı Adı
                                </th>
                                <th>
                                    Mail
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>

                                    <td>
                                        @i.Ad
                                    </td>
                                    <td>
                                        @i.Soyad
                                    </td>
                                    <td>
                                        @i.KullaniciAdi
                                    </td>
                                    <td>

                                        @i.Email

                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Düzenle</button>

                                            <button type="button" class="btn btn-danger">Sil</button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>