﻿@model List<Gunluk>
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Günlük Listesi</h4>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>
                                    Adı Soyadı
                                </th>
                                <th>
                                    Tarih
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    Herman Beck
                                </td>
                                <td>
                                    <div class='form-group col-sm-8 '>

                                        <div class='input-group date' id='datetimepicker5'>
                                            <input type='date' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-success">Görüntüle</button>
                                </td>

                            </tr>
                            <tr></tr>
                            <tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
